.StuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}
.Stubutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: rgb(228, 157, 6);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.Stubutton:hover{
    background-color: #EEC7E5;
}
.InsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
}
.InsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: rgb(228, 157, 6);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.InsButton:hover{
    background-color: #EEC7E5;
}
